* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #0B2434;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Karla";
}
main {
  background-color: #F5F5F5;
  height: 640px;
  width: 640px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.title-block{
  display: flex;
  flex-direction: column;
}

.title {
  align-self: center;
  font-size: 50px;
  margin: 0;
  margin-top: 10px;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
}

.highScore,.points{
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  padding: 0px;
}

.die{
  width: 71.68px;
  height: 71.68px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 4px 4px 4px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.die-container{
  display: grid;
  padding-left: 34px;
  padding-right: 34px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 36px;
  row-gap: 37.12px;
  place-items: center;
}

.roll-dice,.new-game {
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 6px;
  background-color: #5035FF;
  color: white;
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  cursor: pointer;
}
.new-game{
  width: 200px;
}

.roll-dice:focus, .new-game:focus{
  outline: none;
}

.roll-dice:active, .new-game:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.held{
  background-color: #59E391;
}